[project]
name = "python-template"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "torch>=2.9.1",
    "torchvision>=0.24.1",
    "wandb>=0.23.1",
]

[dependency-groups]
dev = [
    "ruff>=0.14.10",
    "ty>=0.0.4",
]
